@import "tailwindcss";


body{
      background-color: #0D0B16;
      color: white;
      font-family: 'poppins', sans-serif;
}


.h1 .h2{
    color: white;
    font-family: 'roboto', sans-serif;
}

.p{
  color: darkgray;
}

.playwrite-nz-guides-regular {
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 700;
  font-style: normal;
}
